*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.input-type{
  width: 50%;
  height: auto;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

.input-type input{
  margin: 3em 0;
  padding: .7em 2.8em;
  border-radius: 2em;
  outline: none;
}

.new-img{
  display: left;
}